<template name="add_project">
	<div class="container pt">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Create Product</h2>
				<form class="add_project_form" enctype="multipart/form-data">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
					</div>
				
					<div class="form-group">
						<label>Price</label>
						<input type="text" class="form-control" id="price" name="price" placeholder="Price">
					</div>
					<div class="form-group">
						<label>Product Image</label>
						<input type="file" id="productImage" name="productImage">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="/admin/projects" class="btn btn-default">Go Back</a>
				</form>
			</div>
		</div>
	</div>
</template>