<template name="edit_project">
	<div class="container pt">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Edit Product <small>{{name}}</small></h2>
				<form class="edit_project_form" enctype="multipart/form-data">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Product Name" value="{{name}}">
					</div>
					<div class="form-group">
						<label>Price</label>
						<input type="text" class="form-control" id="price" name="price" placeholder="Price" value="{{price}}">
					</div>
					<div class="form-group">
						<label>Product Image</label>
						<input type="file" id="productImage" name="productImage">Current Image: <img src="{{productImage}}" class="edit-image">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="/admin/projects" class="btn btn-default">Go Back</a>
				</form>
			</div>
		</div>
	</div>
</template>