<template name="about">
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{{getAdminImage}}" alt="Nick">
					<h1>About {{getAdminName}}!</h1>
					<p>Hello everybody. I'm Nicolas, a Software Engineer from Ukraine that specializes in architecture app development.</p>
					<p>The main direction of my study and work are designing and development Cross-platform native apps for different aspects of life.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-book"></span>
				<p><a href="http://chimera.labs.oreilly.com/books/1234000000802">WebGl Library</a>, <a href="http://chimera.labs.oreilly.com/books/1230000000345">Data Visualization</a>, <a href="http://chimera.labs.oreilly.com/books/1234000000898">Nature of code</a>.</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p><a href="https://about.me/discover/programming">#programming</a> <a href="https://about.me/discover/art">
				#art</a> <a href="https://about.me/discover/culture">#culture </a>
				<a href="https://about.me/discover/music">#music</a> <a href="https://about.me/discover/space">#space</a>.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-fire"></span>
				<p><a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a>, <a href="https://www.jetbrains.com/phpstorm/">phpStorm</a>, <a href="https://www.jetbrains.com/ruby/">Ruby</a>, <a href="https://www.jetbrains.com/datagrip/">DataGrip</a>.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p><a href="https://www.digitalocean.com/">DigitalOcean</a>, <a href="https://www.namecheap.com">NameCheap</a>, 
				<a href="https://dnsimple.com/">DNSimple</a>, <a href="https://hackhands.com/">hackhands</a>.</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>THE THINKING</h4>
				<p>A Developer is a formally trained programmer. They dont just solve problems or create things, but do so in accordance with a set of design and implementation principles. These include things like performance, maintainability, scale, robustness, and (ideally) security. So thats why the developers are fuckin awesome!</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>THE SKILLS</h4>
				JavaScript
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						<span class="sr-only">40% Complete</span>
					</div>
				</div>

				WebGl
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				
				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						<span class="sr-only">70% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
		<div class="row mt">
	<div class="col-lg-6">
	<h4>THE SOUNDCLOUD</h4>
	<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/206304109&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	</div>
	<div class="col-lg-6">
	<h4>MAIN ACTIVITY?!? DO NOTHING</h4>
			<p>Life gets loud, stressful, and tense. When you're ready to pull the trigger on some serious leisure, set a block of time and keep it. Doing nothing on a regular basis is very healthy for your mind, body, and emotional life, especially if you find that you're really wearing yourself thin. Every now and then, it's ok.If you're good-natured, hapless, and lazy, people will think it's just part of your personality. If you're a jerk and try to get away with doing nothing all the time, people will think you're a super-jerk.Great way to do nothing? Sleep. It'll cut into your opportunity to be productive throughout the day, and it'll be the most comfortable and restorative way of doing nothing in the long term.</p>
	</div>
		</div>
	</div><!-- /container -->
</template>