<template name="home">
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{{getAdminImage}}" alt="Stanley">
					<h1>Hello and Welcome Geek</h1>
					<p>I'm Nicolas, a Software Engineer from Ukraine that specializes in architecture app development.</p>
					<p>The main direction of my study and work are designing and development Cross-platform native apps for different aspects of life.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	{{> work}}	
</template>