<template name="signin">
<div class="container pt">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="signin-user">
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" name="username" id="username">
				</div>
				<div class="form-group">
					<label>eMail</label>
					<input type="text" class="form-control" name="email" id="email">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" id="password" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary" name="submit">Sign In</button>
			</form>
		</div>
	</div>

</div>
</template>